<ion-header>
  <ion-navbar>
    <ion-title>
      Viejo John
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button (click)="goToConfirm()">ver pedido</button>
  <ion-row class="list">
    <ion-col col-5 class="nameColumn">Nombre</ion-col>
    <ion-col  class="priceColumn">Precio</ion-col>
    <ion-col  class="buttonColumn"></ion-col>
    <ion-col  class="cantityColumn">Cantidad</ion-col>
  </ion-row >
  <ion-row *ngFor="let list of menu" class="list">
    <h1 class="category">{{list.category}}</h1>
    <ion-row *ngFor="let product of list.products" class="list">
      <ion-col col-5 class="nameColumn">
        <h2 class="name">{{product.name}}</h2>
        <p>{{product.description}}</p>
      </ion-col>
      <ion-col class="priceColumn">${{product.price}}</ion-col>
      <ion-col col-4 class="buttonColumn">
        <button ion-button (click)="goToDetails(product.id)" class="cantity-button">
          detalles
        </button>
        
      </ion-col>
      <ion-col col-1 class="cantityColumn">{{product.cantity}}</ion-col>
    </ion-row>
  </ion-row>  
</ion-content>