page-home {

}

.list{
    width: 100%;
    padding-top: 10px;
}
.category{
    width: 100%
}
.buttonColumn{
    width: 10%;
    color: blue;
}

.nameColumn{
    margin-top: -18px;
}

.name{
    font-size: 22px;
}

.cantity-button{
    width: 30px;
    height: 30px;
    font-size: 10px;
}