page-home {

}

.list{
    width: 100%;
}
.category{
    width: 100%
    
}
.buttonColumn{
    width: 10%;
    color: blue;
}


.name{
    font-size: 22px;
    margin-top: -10px;
}

.cantity-button{
    width: 30px;
    height: 30px;
    font-size: 10px;
}